/*=========="." is for CLASS==========*/
/*=========="#" is for ID==========*/


body {

}

.game-board {
  width: 200vmin;
  border: 2px solid black;
}

.home {
  border: 4px solid "light gray";
  margin: none;
  flex-direction: row;

}

#deck {
  display: inline-block;
}

#top {
  display: flex;
  margin-bottom: 120px;

}

.home-wrapper {
  display: flex;
  margin-left: auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 1vmin;
}

#column-wrapper {
  display: flex;
  flex-direction: row;
}

.column img {
  margin-top: -110px;
}
